@cycleplatform:registry=http://npm-registry.internal.cycle.io:4873
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=6CDC754E-5C04-4F38-B3FA-D01A8F69CA1D
always-auth = true
